body {
    background-color: black;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;

}

.termFont {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
}

#termBox {

    width: 90vw;
    height: 80vh;

    padding: 5px;

    background-color: black;

    border: 5px solid rgb(31, 24, 36);
}   